.body{
    /* display: flex; */
    /* justify-content: end; 
    flex-direction: row; */
    margin: 0px 0px;
    padding: 0px 0px;
    
}
.container{
    padding: 0px 0px;
    margin: 0px 0px;

}
/* <--NAVBAR--> */

.navbar{

    border-radius: 10px;
    font-family: cursive;
    padding: 0px 0px;
    margin: 0px 0px;

}
.navbar ul{
    background-color: black;
    display: flex;
    justify-content: end;
    padding: 0px 0px;
    margin: 0px 0px;
}

.search{
    margin: 4px 4px;

}

.navbar li{

    padding: 4px 4px;
    list-style-type: none;

    /* border: 2px solid black; */
}

.navbar li a{
    text-decoration: none;
    color: white;
    font-size: 22px;
    margin: 0px 0px;
    /* border: 2px solid black; */
    border-radius: 4px;
    padding: 2px 2px 2px 2px;

}
.navbar li a:hover{
    background-color: white;
    color: black;
}

.navbar input{
    border: 2px solid black;
    width: 90px;
    height: 20px;
    margin: 2px;
}



    .search-image {
        margin: 6px -8px 6px 8px;;
        padding: 0px 2px 0px 0px;
        height: 22px;
        transform: scalex(-1);
        border: 2px solid black;
    }

    .imagesm{
        margin: 6px 5px;
        padding: 0px 2px 0px 0px;
        height: 22px;
        filter: invert();



    }
    .navbutton #img1{
        margin: 4px 2px 0px 5px;
        padding: 0px 0px 0px 0px;

    }
    
    .navbutton #img2{
        margin: 3px 2px 0px 3px;
        padding: 0px 0px 0px 0px;
        height: 30px;
    }
    .navbutton #img3{
        margin: 2px 6px 0px 0px;
        padding: 0px 0px 0px 0px;
        height: 24px;
    }
    
    
.navbutton{

    margin: 0px 0px;
    padding: 0px 0px;
    border: none;
    cursor: pointer;
    background-color: black;
}



/* about */
.about{

    margin: 2px 2px;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    /* border: 2px solid black; */
    flex-direction: column;
    padding: 5px 5px;
}
.about img{
    align-self: center;
    height: 15%;
    width: 50%;
}

/* container2 */

.container2{
    margin: 0px 0px;
    padding: 0px 0px;
    height: 100%;
    width: 100%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
}
.place{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 100%;
    /* border: 2px solid red; */
    margin: 4px 4px;
    padding: 5px 5px;
}
.info{
    align-self: center;
}


.pic{
    /* border: 2px solid black; */
    height: 500px;
    width: 500px;
    margin: 0px 20px 0px 20px;
}
p{
    text-align: justify;
}



